.todolist{
    margin:4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    background: rgba(34, 91, 137, .50);
    color:#fff;
    box-shadow: 14px -10px 0px 0px rgba(100,100,100,0.2);
}
.todolist ul{
    margin-top: 2.6rem;
    list-style-type: none;
}
.todolist h1{
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    margin-bottom: 1rem;
}
.todolist h1 span{
    display: block;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    margin-left:3px;
    margin-top: 0.2rem;
}