*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}

body {
 background:linear-gradient(90deg, #BBE2CC, #7BC29B, #216C43);
 font-size: 1.2rem;
 font-family: "Quicksand",sans-serif;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
